<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password reset request</title>
</head>
<body>
    <h3>Password Reset Request</h3>
    <p>Hi, <b>{{name}}, </b></p>
    <p>
        Your password has been reset successfully!. 
    </p>
</body>
</html>